#network-branding {
    background-color: $ncats_purple;
    color: #fff;
    height: 30px;
    overflow: hidden;
    span {
      font-size: 14px;
      padding-top: 5px;
      padding-right: .5em;
      font-family: $ncats_secondary_font;
    }
    img {
      height: 30px;

      &.masthead-logo{
        height: 20px;
        margin: .25em .5em;
      }
    }
    a{
      color:#fff;
    }
  }