/**
 * Imports
 */

 /** Oswald Font */
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');


/**
 * NCAT Brand Guidelines
 * Primary and Seconday Colors/Fonts. (P for primary and S for secondary)
 */

/** Colors */
$ncats_purple:              #662E6B;
$ncats_gray:                #656569;
$ncats_teal:                #006478;

$ncats_pink:                #7F2754;
$ncats_orange:              #E53C2E;
$ncats_green:               #007564;
$ncats_blue:                #003494;  

/** Fonts */
$ncats_primary_font:          'Oswald', sans-serif, 'Arial';
$ncats_secondary_font:         Arial, Helvetica, sans-serif;

